.Cover{
    position: relative;
}
/*전부 들어간 커버*/
.WholeCover{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 98%;
    height: 80%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 3fr 2fr 2fr 2fr;
}

/*설정라벨과 설정을 나누는 커버 - 아래에 선이 있는 커버*/
.settingCover{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: 1fr;
}

/*설정 input이 3개 있는 공간*/
.threeSetting{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

/*설정 input이 2개 있는 공간*/
.twoSetting{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

/*설정의 라벨이 있는 공간*/
.settingName{
    position: absolute;
    top: 10px;
    left: 10%;

    font-size:medium;
    font-weight: bolder;
    width: 100%;
}

/*설정 버튼*/
.settingTag{
    position: absolute;
    top: 10px;

    font-weight: 400;
    font-size: medium;
    cursor: pointer;
}