.wholeCover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.AnswerText{
    width: 100%;
    padding-left: 5%;
    font-size: larger;
}

.singlePage{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}
