/*전체*/
.WholeCover{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
}

/*드래그 앤 드롭 하는 곳*/
.pictureArea{/*영역*/
    display: flex;
    align-items: center;
    height: 200px;
}
.picture{/*실제 스타일*/
    position: absolute;
    height: 200px;
    width: 100%;
    border: 5px dashed rgb(190, 190, 190);
    border-radius: 0.75rem;
}

.pictureinnerword{/*글씨*/
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.pictureinnerimage{/*이미지*/
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*미리보기 이미지 하나의 스타일*/
.singlepicture{
    height: 100px;
    cursor: pointer;
    margin: 5px;
    border: none;
}

/*해시태그 Label*/
.hashtag{
    width: 100%;
}

/*해시태그 input*/
.hashtagInput{
    height: 30px;
    width: 100%;
    border: 0;
    border-radius: 0.25rem;
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 1px 4px rgb(190, 190, 190);
}
.hashtagInput:focus{
    outline: 1px solid rgb(153, 221, 255);
}

/*해시태그와 이미지list가 들어가는 영역*/
.ListArea{
    padding-top: 10px;
    min-height: 100px;
    width: 100%;
    line-height: 45px;
}

/*하나의 해시태그 들어있는 영역*/
.singleHashTag{
    border: none;
    background-color: rgb(153, 221, 255);
    margin: 5px;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgb(236, 236, 236);
    font-weight: 700;
    cursor: pointer;
}

/*글 label*/
.word{
    width: 100%;
}

/*글 input*/
.wordInput{
    width : 100%;
    min-height: 120px;
    border: 0;
    border-radius: 0.25rem;
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 1px 4px rgb(190, 190, 190);
}
.wordInput:focus{
    outline: 1px solid rgb(153, 221, 255);
}

.area{
    display: flex;
    align-items: center;
    height: 100px;
}

/*제출 버튼*/
.submitButton{
    width: 250px;
    height: 50px;

    background-color: rgb(158, 245, 255);
    color: white;
    font-weight: 600;
    font-size: x-large;
    letter-spacing: 3px;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px rgb(236, 236, 236);
    cursor: pointer;
    margin: 0 auto;
}