.wholeCover{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.Cover{
    position: relative;
    width: 100%;
    height: 100%;
}

.friendList{
    overflow: auto;
}

.friendProfileCover{
    display: block;
    width: 90%;
    height: 18%;
    margin-left: 5%;
    margin-right: 5%;
}