.Cover{
  position: relative;
}

/*검색창과 ID를 추가할 수 있는 Area*/
.searchAndAddArea{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 4fr 4fr;
}

/*검색 Label*/
.searchLabel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

/*검색 input*/
.searchInput{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 50%;
  border: none;
  border-bottom: 2px solid #F4DEDE;
  text-align: center;
  font-size: large;
}
.searchInput::-webkit-input-placeholder{
  text-align: center;
}
.searchInput:focus{
  outline: none;
}

/*검색된 유저들이 뜨는 공간*/
.userListArea{
  overflow: auto;
  width: 100%;
  height: 100%;
}

/*유저 하나가 들어갈 공간*/
.userArea{
  display: inline-block;
  width: fit-content;
  padding: 10px;
  margin: 5px;
  height: 50px;
  border-radius: 0.5rem;
  vertical-align: center;
  box-shadow: 2px 2px 5px rgb(210, 210, 210);
}

.userdetail{
  display: flex;
  width: fit-content;
  height: 50px;
}

/*유저 카드의 이미지 */
.userImageArea{
  position: relative;
  width: 50px;
  height: 100%;
}
.userImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  border-radius: 0.25rem;
  border: 1px solid black;
}

/*유저 카드의 닉네임*/
.userNicknameArea{
  position: relative;
  width: 200px;
  height: 100%;
}
.userNickname{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  width: max-content;
  font-size: small;
}

/*유저 카드의 닫기 혹은 추가 버튼*/
.userButtonImgArea{
  position: relative;
  height: 100%;
  width: 30px;
}
.userButtonImg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: pointer;
  border: none;
}