.Cover{
  position: relative;
}

.WholeCover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

/*비밀번호 제출 영역*/
.formArea{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, 1fr);
}

/*비밀번호 제출 Label*/
.settingLabel{
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  cursor: pointer;
  font-size: large;
}

/*비밀번호 제출 Input*/
.settingInput{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 45%;
  font-size: x-large;
  border: solid 1px rgb(186, 186, 186);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px rgb(137, 137, 137);
}
.settingInput:focus{
  outline: 1px solid rgb(153, 221, 255);
}

/*경고 문구*/
.alertWord{
  width: 100%;
  text-align: center;
  color: red;
}

/*수정 버튼*/
.submitButton{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 50px;
  width: 200px;
  font-weight: bold;
  font-size:large;

  background-color: #F4DEDE;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px rgb(152, 152, 152);
  border: none;
  cursor: pointer;
}