.profileSettingCover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px rgb(209, 209, 209);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.Cover{
    position: relative;
}

/*내 프로필 보여주는 곳*/
.MyprofileExample{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Input이 있는 부분*/
.profileSettingDetail{
    position: absolute;
    height: 80%;
    width: 75%;

    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 3fr 6fr 2fr;
    grid-template-rows: repeat(4, 1fr);
}

/*Label 태그*/
.profileSettingLabel{
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);

    font-weight: bolder;
}

/*Input 태그*/
.profileSettingInput{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 80%;
    border: solid 1px rgb(186, 186, 186);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
}
.profileSettingInput:focus{
    outline: 1px solid rgb(153, 221, 255);
}

/*공개 여부 버튼*/
.smallSettingButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 45px;
    line-height: 100%;
    font-weight: bold;
    font-size: medium;

    border-radius: 0.25rem;
    border: none;
    background-color: rgb(209, 209, 209);
    box-shadow: 1px 1px 3px rgb(152, 152, 152);
    cursor: pointer;
}

/*수정 버튼*/
.submitButton{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 20%;
    width: 25%;
    font-weight: bold;
    font-size:large;

    background-color: rgb(255, 197, 250);
    color: white;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px rgb(178, 137, 175);
    border: none;
    cursor: pointer;
}