.Cover{
    position: relative;
}

.book{
    position : absolute;
    top : 0%;
    left : 50%;
    transform: translate(-50%, 3%);

    height: 700px;
    width: 650px;
}

.bookinnerCover{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;
}
