.logoCover{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-top-left-radius : 2rem;
    border-top-right-radius : 2rem;
    border-bottom : 1px solid #b9b9b9;

    width: 80%;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
}