.Cover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticeList{
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.noticeCover{
    padding-bottom: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 5fr 15fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.noticeImg{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.script{
    border: 0;
    margin: 0;
    text-align: center;
    word-break:break-all;
    cursor: pointer;
}

.deleteBtn{
    cursor: pointer;
}

.noNoticeScript{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}