.wholeCover{
    width: 100vw;
    min-width: 1350px;
    height: 100vh;
    min-height: 1100px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageAndScriptCover{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: white;
    z-index: 500;
}

/*좌측 공간*/
.imageArea{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    background-color: black;
    width: 50%;
}

.arrowButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/***********************************************/
/*우측 공간*/
.ScriptArea{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr 1fr;
    overflow-y: auto;
    width: 50%;
}

/***********************************************/

/*작성자 프로필, 글, 등이 있는 공간*/
.pageScriptArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 20px 30px;
}

/*작성자 프로필 공간*/
.postPersonProfileArea{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: fit-content;
}

.UserImage{
    height: 55px;
    width: 55px;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-right: 30px;
    cursor: pointer;
}

.UserNickname{
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.UserSetting{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*작성자 프로필에 ... 누르면 나오는 공간*/
.postPersonSettingArea{
    display: flex;
    width: 80%;
    height: fit-content;
}

/*작성자가 쓴 글이 나오는 공간*/
.contentArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
}

.content{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding-top: 20px;
    cursor: pointer;
}

/*좋아요와 좋아요 개수와 시간이 올라오는 공간*/
.likeTimeArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

.buttonImg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.likeandCommentCount{
    margin: 0;
    padding-right: 10px;
    height: fit-content;
    font-size: small;
    cursor: pointer;
}

.time{
    margin: 0;
    width: 200px;
    height: fit-content;
    font-size: small;
    text-align: right;
    color: gray;
}

/***********************************************/

/*댓글이 들어가는 공간*/
.CommentArea{
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-top: 1px solid gray;
}

.singleCommentArea{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: flex-end;
}

/*댓글 - 댓글은 width를 100%로, 대댓글은 80%로 설정한다.*/
.CommentBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: fit-content;
}

.CommentProfileArea{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.commentText{
    margin: 0;
    height: fit-content;
    width: fit-content;
    margin: 15px 0px 10px 40px;
}

.commentbtnArea{
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 15px;
    padding-left: 40px;
}

/*************************************************/
/*유저가 댓글을 작성할 수 있는 공간*/
.userCommentArea{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    border-top: 1px solid gray;
}

.userComment{
    border: none;
    width: 95%;
    height: 85%;
    padding: 0;
    margin: 0;
    resize: none;
}
.userComment:focus{
    outline: none;
}
.userComment::placeholder{
    color: rgb(190, 190, 190);
}

.commentSubmitBtn{
    width: 50%;
    height: 40%;
    border: none;
    border-radius: 0.25rem;
    background-color: #F4DEDE;
    color: white;
    box-shadow: 1px 1px 3px rgb(190, 190, 190);
    cursor: pointer;
}