.wholeCover{
    width: 100vw;
    min-width: 800px;
    height: 100vh;
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}