.Cover{
    position: relative;
    height: 100%;
    width: 100%;
}

/*전체 커버*/
.pageCover{
    position: absolute;
    height: 99vh;
    /*min-height: 1100px;*/
    width: 99vw;
    /*min-width: 1350px;*/

    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr 9fr;
}

/*로고, 검색버튼을 넣을 공간이다.*/
.leftHeader{
    position : absolute;
    width : 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr;
}

/*태그를 넣을 공간이다.*/
.tagArea{
    position : absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width : 80%;
    height: 70%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
}

/*태그이다.*/
.tag{
    position : absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    width : 42px;
    height: 53px;

    background-color: rgb(190, 190, 190);
    border: 1px solid rgb(160, 160, 160);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    z-index: 0;
}

/*태그 이미지*/
.tagImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
}

/* 책 커버 */
.bookCover{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 100%;

    border-top: 5px solid rgb(160, 160, 160);
    border-right: 5px solid rgb(160, 160, 160);
    border-left: 5px solid rgb(160, 160, 160);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #F4DEDE;
}

/* 책 종이 부분 */
.leftbook{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 98%;
    height: 99%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: white;
}

.rightbook{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95.5%;
    height: 98.7%;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    background-color: white;
}

.noticeArea{
    position: absolute;
    top: 0;
    right: 50%;
}