.Cover{
    position: relative;
}

/*전체 커버*/
.pageCover{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    min-width: 1200px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
}

/*로고, 검색버튼, 메뉴를 넣을 공간이다.*/
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;

    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgb(190, 190, 190);
    background-color: white;
}

/*태그 관련*//*태그 선택시 rgb(277,277,277)로*/
.tagArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    height: 70px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(190, 190, 190);
}

.lefttag{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgb(190, 190, 190);
    background-color: white;
}

.midtag{
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(190, 190, 190);
    background-color: white;
}

.righttag{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

/*글 등 들어갈 박스*/
.mainStuff{
    position: relative;
    top: 110px;
    left: 10%;
    background-color: blue;
    width: 600px;
    height: 3000px;
}

/*메뉴 등 들어갈 박스*/
.menuCard{
    position: fixed;
    top: 110px;
    left: 75%;
    width: 300px;
    height: 500px;
    background-color: black;
}