.cover{
    position: absolute;
    transform: translate(30%, 160%);

    background-color: rgba(255, 0, 0, 0.5);
    width: 25px;
    height: 20px;
    border-radius: 0.6rem;
    display : flex;
    justify-content: center;
    align-items: center;
}

.number{
    margin: 0;
    height: auto;
    text-align: center;
    font-size: xx-small;
    font-weight: bold;
    line-height: 100%;
}