.searchBarCover{
    position: relative;
    height: 100%;
    width: 100%;
}

.searchBar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(240, 240, 240);
    border-radius: 0.25rem;
    border: none;
    box-shadow: 1px 1px 4px rgb(190, 190, 190);
    width: 270px;
    height: 35px;
}
.searchBar:focus{
    outline: 1px solid rgb(91, 91, 91);
}