.friendProfile{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgb(211, 211, 211);
    cursor: pointer;
}

.Cover{
    position: relative;
    width: 100%;
    height: 100%;
}

.friendProfilePic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.friendProfileName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    border: 0;
    margin: 0;
    text-align: center;
    font-size: small;
}