.Cover{
    position: relative;
}

/*모든 커버*/
.SignUpCover{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 5fr;

    width: 90%;
    height: 75%;
    background-Color: white;
    box-shadow: 2px 2px 3px rgb(137, 137, 137);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 0.5rem;
    padding: 40px 20px;
}

/*두개로 분리하는 Input*/
.splitInput{
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

/* 최하단 버튼 영역*/
.btnArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/*Form 관련 label, input*/
.formLabel{
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);

    font-weight: bolder;
    display: inline;
    cursor: pointer;
}

.formInput{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 90%;
    border: solid 1px rgb(186, 186, 186);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
}
.formInput:focus{
    outline: 1px solid rgb(153, 221, 255);
}

/*이메일 인증 버튼*/
.emailButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    font-weight: bold;
    border-radius: 0.25rem;
    width: 50px;
    height: 90%;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
    background-color:white;
    cursor: pointer;
}

/*비밀번호 조건 알려주는 글*/
.smallAlertWord{
    position: absolute;
    top: 12%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: lighter;
    display: inline;
    font-size: small;
    color: rgb(255, 102, 102);
}

/*정보 공개 뭐시깽이*/
.smallCommentWord{
    position: absolute;
    top: 8%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: lighter;
    display: inline;
    font-size: small;
    color: rgb(102, 181, 255);
}

/*성별 Input관련*/
.genderInputArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
    grid-template-rows: 1fr;
}

.genderInput{
    position: absolute;
    transform: translate(50%, -70%);
    zoom: 1.5;
    cursor: pointer;
}

.genderLabel{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


/*동의 체크박스*/
.agreeInput{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    zoom: 1.5;
    cursor: pointer;
}

/*취소 버튼*/
.cancelBtn{
    position: absolute;
    top : 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    font-weight: bold;
    width : 60%;
    height: 50%;
    border-radius: 0.25rem;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
    cursor: pointer;
}

/*가입 버튼*/
.submitBtn{
    position: absolute;
    top : 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    font-weight: bold;
    width : 60%;
    height: 50%;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
    cursor: pointer;
}