.Cover{
    position: relative;
}

.WholeCover{
    position : absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 75%;
    padding: 40px 20px;

    box-shadow: 2px 2px 3px rgb(137, 137, 137);
    border: 1px solid rgb(186, 186, 186);
}

.text{
    position: absolute;
    top : 40%;
    left : 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;
}

.formInput{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 60%;
    border: solid 1px rgb(186, 186, 186);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
}
.formInput:focus{
    outline: 1px solid rgb(153, 221, 255);
}

.btn{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    width : 80%;
    height: 70%;
    font-size: medium;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 3px rgb(137, 137, 137);
    cursor: pointer;
}