/*페이지 디자인*/
.loginInnerCover {
  position : absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;

  width: 90%;
  height: 75%;

  box-shadow: 2px 2px 3px rgb(137, 137, 137);
  border: 1px solid rgb(186, 186, 186);
  border-radius: 0.25rem;
  padding: 40px 20px;
}

.splitCover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.split4Cover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.Cover{
  position: relative;
}

.formInput{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 80%;
  border: solid 1px rgb(186, 186, 186);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px rgb(137, 137, 137);
}
.formInput:focus{
  outline: 1px solid rgb(153, 221, 255);
}

.errorMes{
  position: absolute;
  left: 50%;
  transform : translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: red;
}

.loginbtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);

  color: white;
  font-weight: bold;
  background-color: rgb(44, 44, 44);
  box-shadow:rgb(137, 137, 137);
  border-radius: 0.25rem;
  width: 40%;
  height: 70%;
}

.word{
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
}

/*소셜 로그인 버튼 디자인*/
.Socialbtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background: none;
  width: 150px;
  height: 45px;
  border-radius: 12px;
}

.kakao{
  background-color: #FEE500;
  width: 150px;
  height: 45px;
  border-radius: 12px;

  position: relative;
}

.kakaoSymbol {
  display: inline;
  height: 30px;

  position: absolute;
  top: 14%;
  left: 18%;
}

.kakaoLabel {
  color: rgba(0,0,0, 0.85);
  font-weight: 900;

  position: absolute;
  top: 28%;
  right: 25%;
}

.naver{
  background-color: #03C75A;
  width: 150px;
  height: 45px;
  border-radius: 12px;

  position: relative;
}

.naverSymbol {
  display: inline;
  height: 45px;

  position: absolute;
  left: 15%;
}

.naverLabel {
  color: #FFFFFF;
  font-weight: 900;

  position: relative;
  top: 27%;
  right: -10%;
}