.footerStyle {
    padding-top : 1%;
    display : grid;
    grid-template-columns : repeat(3, 10rem);
    grid-template-rows : 5rem;
    grid-gap : 3%;
    justify-content: center;

    position : fixed;
    bottom : 0;
    width : 100%;
    height : 15%;
    min-height: 80px;

    background-color: #EDEDED;
}

.memberCover{
    position: relative;
}

.member {
    position : absolute;
}

.name{
    font-size : 10px;
    font-weight : bolder;
    height : 13px;
}

.email, .github{
    font-size :1px;
    font-weight:lighter;
    height: 0px;
    color : #5A5A5A;
}