.clip1{
    box-sizing: border-box;
    position: absolute;
    height : 15px;
    width : 70px;
    left: -5%;
    right: 10.71%;
    top: 3.33%;
    bottom: 3.33%;

    background: linear-gradient(180deg, #C2C2C2 0%, #E4E4E4 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 60px;
}
.clip2{
    box-sizing: border-box;
    position: absolute;
    height : 15px;
    width : 70px;
    left: -5%;
    right: 10.71%;
    top: 6.33%;
    bottom: 3.33%;

    background: linear-gradient(180deg, #C2C2C2 0%, #E4E4E4 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 60px;
}
.clip3{
    box-sizing: border-box;
    position: absolute;
    height : 15px;
    width : 70px;
    left: -5%;
    right: 10.71%;
    top: 95.33%;
    bottom: 3.33%;

    background: linear-gradient(180deg, #C2C2C2 0%, #E4E4E4 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 60px;
}
.clip4{
    box-sizing: border-box;
    position: absolute;
    height : 15px;
    width : 70px;
    left: -5%;
    right: 10.71%;
    top: 92.33%;
    bottom: 3.33%;

    background: linear-gradient(180deg, #C2C2C2 0%, #E4E4E4 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 60px;
}

.bookcover{
    position : relative;
    height: 90vh;
    display: grid;
    grid-template-columns : 1fr 3fr 1fr;
    grid-template-rows : 1fr;
    justify-content : center;
    align-items : center;
}

.wholebook{
    /* Rectangle 1 */
    position : absolute;
    top : 0%;
    left : 50%;
    transform: translate(-50%, 3%);
    width : 40vw;
    min-width : 600px;
    max-width : 1000px;
    height : 80vh;
    min-height : 900px;

    /* main color */
    background: #F4DEDE;
    border: 10px solid #C9C9C9;
    border-radius: 0px 45px 45px 0px;
}
